{% extends "bdf/base.html" %}

{% block page_header %}
    <h5>Мои проекты</h5>
{% endblock page_header %}

{% block content %}
<ul>

    {% for rocket in rockets_bdf_all %}
    <li>
        <h6>
            <a href="{% url 'bdf:rocket' rocket.id %}" >{{rocket}}</a>
        </h6>
    </li>

    {% empty %}
        <h6>
            <li>Проекты еще не созданы.</li>
        </h6>
    {% endfor %}

</ul>

    <h6>
        <a href="{% url 'bdf:rocket_bdf_new'  %}">Создать новый проект</a>
    </h6>

{% endblock content %}